<a href="https://colab.research.google.com/github/sunshineluyao/DKU_STR/blob/main/DKU_Hybrid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualization

In [ ]:
# import packages
import pandas as pd
import numpy as np

In [ ]:
# import data
df = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/DKU_STR/main/random_data.csv')
df.head()

In [133]:
df.describe(include='all')

                Q1           Q2  ...           Q8           Q9
count  1442.000000  1437.000000  ...  1440.000000  1438.000000
mean      2.907767     1.487822  ...     3.052778     1.502782
std       1.448331     0.500026  ...     1.402863     0.500166
min       1.000000     1.000000  ...     1.000000     1.000000
25%       2.000000     1.000000  ...     2.000000     1.000000
50%       3.000000     1.000000  ...     3.000000     2.000000
75%       4.000000     2.000000  ...     4.000000     2.000000
max       5.000000     2.000000  ...     5.000000     2.000000

[8 rows x 14 columns]

### Q1 Which of the following best describes the instruction that you received for this course?

In [ ]:
df_Q1 =pd.DataFrame(df['Q1'].value_counts())
df_Q1

In [135]:
df_Q1.loc[1.0, 'Answers']=1
df_Q1.loc[2.0, 'Answers']=2
df_Q1.loc[3.0, 'Answers']=3
df_Q1.loc[4.0, 'Answers']=4
df_Q1.loc[5.0, 'Answers']=5
df_Q1.rename(columns={'Q1':'Frequency'},inplace=True)
df_Q1

     Frequency  Answers
1.0        337      1.0
2.0        287      2.0
5.0        286      5.0
3.0        276      3.0
4.0        256      4.0

In [136]:
df_Q1=df_Q1.sort_values(by='Answers')
df_Q1

     Frequency  Answers
1.0        337      1.0
2.0        287      2.0
3.0        276      3.0
4.0        256      4.0
5.0        286      5.0

In [137]:
import plotly.express as px
fig = px.bar(df_Q1, x="Answers", y="Frequency", color='Answers', title="Q1:Which of the following best describes the instruction that you received for this course?")
fig.show()

### Q7: How would you describe the influence of the group activities, in general, on your academic achievement in this class?

In [138]:
df_Q7 =pd.DataFrame(df['Q7'].value_counts())
df_Q7

    Q7
1  316
2  301
3  292
5  271
4  264

In [139]:
df_Q7.loc[1.0, 'Answers']=1
df_Q7.loc[2.0, 'Answers']=2
df_Q7.loc[3.0, 'Answers']=3
df_Q7.loc[4.0, 'Answers']=4
df_Q7.loc[5.0, 'Answers']=5
df_Q7.rename(columns={'Q7':'Frequency'},inplace=True)
df_Q7

   Frequency  Answers
1        316      1.0
2        301      2.0
3        292      3.0
5        271      5.0
4        264      4.0

In [140]:
df_Q7=df_Q7.sort_values(by='Answers')
df_Q7

   Frequency  Answers
1        316      1.0
2        301      2.0
3        292      3.0
4        264      4.0
5        271      5.0

In [141]:
import plotly.express as px
fig = px.bar(df_Q7, x="Answers", y="Frequency", color='Answers', title="Q7: How would you describe the influence of the group activities, in general, on your academic achievement in this class?")
fig.show()

### Q8: how comfortable did you feel expressing opinions in online activities (e.g., live sessions, online forum).

In [142]:
df_Q8 =pd.DataFrame(df['Q8'].value_counts())
df_Q8

      Q8
4.0  307
2.0  301
5.0  296
3.0  275
1.0  261

In [143]:
df_Q8.loc[1.0, 'Answers']=1
df_Q8.loc[2.0, 'Answers']=2
df_Q8.loc[3.0, 'Answers']=3
df_Q8.loc[4.0, 'Answers']=4
df_Q8.loc[5.0, 'Answers']=5
df_Q8.rename(columns={'Q8':'Frequency'},inplace=True)
df_Q8

     Frequency  Answers
4.0        307      4.0
2.0        301      2.0
5.0        296      5.0
3.0        275      3.0
1.0        261      1.0

In [144]:
import plotly.express as px
fig = px.bar(df_Q8, x="Answers", y="Frequency", color='Answers', title="Q8: how comfortable did you feel expressing opinions in online activities (e.g., live sessions, online forum)?")
fig.show()

### Q6: Did this course include the following group activities? (Select all that applies) - Selected Choice

In [145]:
df_Q6= pd.DataFrame(df['Q6_1'].value_counts())
df_Q6['Q6_2']=df['Q6_2'].value_counts()
df_Q6['Q6_3']=df['Q6_3'].value_counts()
df_Q6['Q6_4']=df['Q6_4'].value_counts()
df_Q6['Q6_5']=df['Q6_5'].value_counts()
df_Q6['Q6_6']=df['Q6_6'].value_counts()
df_Q6['Answers']=['Yes','No']
df_Q6_Melt=df_Q6.melt(id_vars=['Answers'], value_vars=['Q6_1','Q6_2','Q6_3','Q6_4','Q6_5','Q6_6'])
df_Q6_Melt.columns=['Answers','Group_Activities','Frequency']
df_Q6_Melt

   Answers Group_Activities  Frequency
0      Yes             Q6_1        499
1       No             Q6_1        453
2      Yes             Q6_2        452
3       No             Q6_2        511
4      Yes             Q6_3        488
5       No             Q6_3        487
6      Yes             Q6_4        474
7       No             Q6_4        488
8      Yes             Q6_5        514
9       No             Q6_5        485
10     Yes             Q6_6        457
11      No             Q6_6        523

In [146]:
import plotly.express as px
fig = px.bar(df_Q6_Melt, x="Group_Activities", y="Frequency", color='Answers', title="Q6: Did this course include the following group activities? (Select all that applies) - Selected Choice?",barmode='group')
fig.show()

#Hypothesis Testing


**Install the pingouin Package**

In [147]:
pip install pingouin

Requirement already satisfied: pingouin in /usr/local/lib/python3.6/dist-packages (0.3.8)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.4.1)
Requirement already satisfied: pandas-flavor>=0.1.2 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.2.0)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: statsmodels>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.10.2)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.8.7)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.18.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.1.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.22.2.post1)
Requirement already satisfied: outdated in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.2.0)
Requirement already satisfied: seaborn>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.11.0)
Requirement already satisfied: xarray in /usr/local/lib/python3.6/dist-packages (from pandas-flavor>=0.1.2->pingouin) (0.15.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.10.0->pingouin) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->pingouin) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->pingouin) (0.17.0)
Requirement already satisfied: littleutils in /usr/local/lib/python3.6/dist-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: setuptools>=41.2 in /usr/local/lib/python3.6/dist-packages (from xarray->pandas-flavor>=0.1.2->pingouin) (50.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (2.10)

Chi-Squared of Independence

https://pingouin-stats.org/generated/pingouin.chi2_independence.html#pingouin.chi2_independence

### Test 1:  Whether Teaching Mode (Q1) Correlated with Group Activity Performance (Q7)

In [148]:
import pingouin as pg

In [149]:
expected, observed, stats = pg.chi2_independence(df, x='Q1',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  11.691  16.0  0.765   0.045  0.134
1        cressie-read   0.667  11.716  16.0  0.763   0.045  0.134
2      log-likelihood   0.000  11.777  16.0  0.759   0.045  0.134
3       freeman-tukey  -0.500  11.832  16.0  0.755   0.045  0.135
4  mod-log-likelihood  -1.000  11.895  16.0  0.751   0.045  0.135
5              neyman  -2.000  12.049  16.0  0.741   0.046  0.137

### Test 2: Whether Group Activity Fromat (Q6) Correlated with Group Activity Performance (Q7)

In [150]:
expected, observed, stats = pg.chi2_independence(df, x='Q6_1',
                                                 y='Q7')
stats.round(3)

                 test  lambda   chi2  dof   pval  cramer  power
0             pearson   1.000  3.170  4.0  0.530   0.047  0.257
1        cressie-read   0.667  3.174  4.0  0.529   0.047  0.257
2      log-likelihood   0.000  3.183  4.0  0.528   0.047  0.258
3       freeman-tukey  -0.500  3.191  4.0  0.526   0.047  0.259
4  mod-log-likelihood  -1.000  3.200  4.0  0.525   0.047  0.259
5              neyman  -2.000  3.223  4.0  0.521   0.047  0.261

In [151]:
expected, observed, stats = pg.chi2_independence(df, x='Q6_2',
                                                 y='Q7')
stats.round(3)

                 test  lambda   chi2  dof   pval  cramer  power
0             pearson   1.000  9.262  4.0  0.055    0.08  0.678
1        cressie-read   0.667  9.261  4.0  0.055    0.08  0.678
2      log-likelihood   0.000  9.266  4.0  0.055    0.08  0.678
3       freeman-tukey  -0.500  9.276  4.0  0.055    0.08  0.679
4  mod-log-likelihood  -1.000  9.291  4.0  0.054    0.08  0.679
5              neyman  -2.000  9.337  4.0  0.053    0.08  0.682

In [152]:
expected, observed, stats = pg.chi2_independence(df, x='Q6_3',
                                                 y='Q7')
stats.round(3)

                 test  lambda   chi2  dof   pval  cramer  power
0             pearson   1.000  3.204  4.0  0.524   0.047  0.259
1        cressie-read   0.667  3.205  4.0  0.524   0.047  0.260
2      log-likelihood   0.000  3.208  4.0  0.524   0.047  0.260
3       freeman-tukey  -0.500  3.212  4.0  0.523   0.047  0.260
4  mod-log-likelihood  -1.000  3.218  4.0  0.522   0.047  0.261
5              neyman  -2.000  3.232  4.0  0.520   0.047  0.262

In [153]:
expected, observed, stats = pg.chi2_independence(df, x='Q6_4',
                                                 y='Q7')
stats.round(3)

                 test  lambda   chi2  dof   pval  cramer  power
0             pearson   1.000  6.589  4.0  0.159   0.068  0.512
1        cressie-read   0.667  6.591  4.0  0.159   0.068  0.512
2      log-likelihood   0.000  6.604  4.0  0.158   0.068  0.513
3       freeman-tukey  -0.500  6.620  4.0  0.157   0.068  0.514
4  mod-log-likelihood  -1.000  6.642  4.0  0.156   0.068  0.516
5              neyman  -2.000  6.703  4.0  0.152   0.068  0.520

In [154]:
expected, observed, stats = pg.chi2_independence(df, x='Q6_5',
                                                 y='Q7')
stats.round(3)

                 test  lambda   chi2  dof   pval  cramer  power
0             pearson   1.000  2.997  4.0  0.558   0.046  0.244
1        cressie-read   0.667  2.997  4.0  0.558   0.046  0.244
2      log-likelihood   0.000  3.000  4.0  0.558   0.046  0.244
3       freeman-tukey  -0.500  3.002  4.0  0.557   0.046  0.244
4  mod-log-likelihood  -1.000  3.006  4.0  0.557   0.046  0.245
5              neyman  -2.000  3.014  4.0  0.555   0.046  0.245

In [155]:
expected, observed, stats = pg.chi2_independence(df, x='Q6_6',
                                                 y='Q7')
stats.round(3)

                 test  lambda   chi2  dof   pval  cramer  power
0             pearson   1.000  0.485  4.0  0.975   0.018  0.075
1        cressie-read   0.667  0.485  4.0  0.975   0.018  0.075
2      log-likelihood   0.000  0.485  4.0  0.975   0.018  0.075
3       freeman-tukey  -0.500  0.485  4.0  0.975   0.018  0.075
4  mod-log-likelihood  -1.000  0.485  4.0  0.975   0.018  0.075
5              neyman  -2.000  0.485  4.0  0.975   0.018  0.075

**Pairwise (partial) correlations between columns of a pandas dataframe**

https://pingouin-stats.org/generated/pingouin.pairwise_corr.html#pingouin.pairwise_corr

In [156]:
columns = [['Q1', 'Q8','Q6_1','Q6_2','Q6_3','Q6_4','Q6_5','Q6_6'], ['Q7']]
pcor = pg.pairwise_corr(df, columns, method='spearman')
pcor

      X   Y    method       tail  ...    adj_r2         z     p-unc     power
0    Q1  Q7  spearman  two-sided  ... -0.001199 -0.013823  0.599956  0.082057
1    Q8  Q7  spearman  two-sided  ... -0.000807  0.024167  0.359538  0.150343
2  Q6_1  Q7  spearman  two-sided  ... -0.000849  0.035452  0.274705  0.193990
3  Q6_2  Q7  spearman  two-sided  ... -0.001735  0.018639  0.563497  0.089018
4  Q6_3  Q7  spearman  two-sided  ... -0.002055 -0.001629  0.959473  0.050279
5  Q6_4  Q7  spearman  two-sided  ... -0.002080  0.002305  0.943086  0.050568
6  Q6_5  Q7  spearman  two-sided  ... -0.001332  0.025989  0.412018  0.129959
7  Q6_6  Q7  spearman  two-sided  ... -0.001898 -0.012198  0.702924  0.066812

[8 rows x 12 columns]

### Test 3: How Q1 and Q6 together correlated with Q7

Chi-Squared of Independence

https://pingouin-stats.org/generated/pingouin.chi2_independence.html#pingouin.chi2_independence

In [157]:
df['Q1_Q6_1']=df['Q1']+df['Q6_1']*0.1
df['Q1_Q6_2']=df['Q1']+df['Q6_2']*0.1
df['Q1_Q6_3']=df['Q1']+df['Q6_3']*0.1
df['Q1_Q6_4']=df['Q1']+df['Q6_4']*0.1
df['Q1_Q6_5']=df['Q1']+df['Q6_5']*0.1
df['Q1_Q6_6']=df['Q1']+df['Q6_6']*0.1
df.head()

    Q1   Q2   Q3   Q4   Q5  ...  Q1_Q6_2  Q1_Q6_3  Q1_Q6_4  Q1_Q6_5  Q1_Q6_6
0  1.0  2.0  1.0  7.0  3.0  ...      NaN      1.1      1.1      1.1      1.2
1  1.0  1.0  5.0  5.0  1.0  ...      NaN      NaN      1.1      1.2      1.2
2  4.0  1.0  2.0  2.0  5.0  ...      4.2      NaN      4.1      NaN      4.2
3  3.0  2.0  1.0  5.0  2.0  ...      3.2      3.1      3.2      3.2      NaN
4  3.0  1.0  1.0  2.0  4.0  ...      3.2      NaN      3.2      3.2      NaN

[5 rows x 20 columns]

In [158]:
expected, observed, stats = pg.chi2_independence(df, x='Q1_Q6_1',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  32.131  36.0  0.653   0.075  0.234
1        cressie-read   0.667  31.919  36.0  0.663   0.074  0.233
2      log-likelihood   0.000  31.688  36.0  0.674   0.074  0.231
3       freeman-tukey  -0.500  31.684  36.0  0.674   0.074  0.231
4  mod-log-likelihood  -1.000  31.828  36.0  0.667   0.074  0.232
5              neyman  -2.000  32.585  36.0  0.632   0.075  0.238

In [159]:
expected, observed, stats = pg.chi2_independence(df, x='Q1_Q6_2',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  55.681  36.0  0.019   0.098  0.434
1        cressie-read   0.667  55.494  36.0  0.020   0.098  0.432
2      log-likelihood   0.000  55.749  36.0  0.019   0.098  0.434
3       freeman-tukey  -0.500  56.496  36.0  0.016   0.099  0.441
4  mod-log-likelihood  -1.000  57.741  36.0  0.012   0.100  0.452
5              neyman  -2.000  61.897  36.0  0.005   0.104  0.488

In [160]:
expected, observed, stats = pg.chi2_independence(df, x='Q1_Q6_3',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  24.422  36.0  0.929   0.065  0.178
1        cressie-read   0.667  24.564  36.0  0.926   0.065  0.179
2      log-likelihood   0.000  24.934  36.0  0.917   0.066  0.181
3       freeman-tukey  -0.500  25.292  36.0  0.909   0.066  0.184
4  mod-log-likelihood  -1.000  25.723  36.0  0.898   0.067  0.187
5              neyman  -2.000  26.822  36.0  0.866   0.068  0.195

In [161]:
expected, observed, stats = pg.chi2_independence(df, x='Q1_Q6_4',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  32.803  36.0  0.621   0.075  0.240
1        cressie-read   0.667  33.298  36.0  0.598   0.076  0.243
2      log-likelihood   0.000  34.571  36.0  0.537   0.077  0.254
3       freeman-tukey  -0.500  35.809  36.0  0.478   0.079  0.264
4  mod-log-likelihood  -1.000  37.336  36.0  0.408   0.080  0.276
5              neyman  -2.000  41.477  36.0  0.244   0.085  0.310

In [162]:
expected, observed, stats = pg.chi2_independence(df, x='Q1_Q6_5',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  27.295  36.0  0.851   0.069  0.198
1        cressie-read   0.667  27.317  36.0  0.851   0.069  0.198
2      log-likelihood   0.000  27.499  36.0  0.845   0.069  0.199
3       freeman-tukey  -0.500  27.760  36.0  0.836   0.069  0.201
4  mod-log-likelihood  -1.000  28.132  36.0  0.822   0.070  0.204
5              neyman  -2.000  29.238  36.0  0.780   0.071  0.212

In [163]:
expected, observed, stats = pg.chi2_independence(df, x='Q1_Q6_6',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  27.487  36.0  0.845   0.069  0.199
1        cressie-read   0.667  27.866  36.0  0.832   0.069  0.202
2      log-likelihood   0.000  28.845  36.0  0.796   0.071  0.209
3       freeman-tukey  -0.500  29.802  36.0  0.757   0.072  0.217
4  mod-log-likelihood  -1.000  30.986  36.0  0.706   0.073  0.226
5              neyman  -2.000  34.202  36.0  0.554   0.077  0.251

### Test 4: Considering student readiness for online education (Q8), how the result for Test 1 changes

In [164]:
df['Q1_Q8']=df['Q1']+df['Q8']*0.1
df.head()

    Q1   Q2   Q3   Q4   Q5  ...  Q1_Q6_3  Q1_Q6_4  Q1_Q6_5  Q1_Q6_6  Q1_Q8
0  1.0  2.0  1.0  7.0  3.0  ...      1.1      1.1      1.1      1.2    1.3
1  1.0  1.0  5.0  5.0  1.0  ...      NaN      1.1      1.2      1.2    1.2
2  4.0  1.0  2.0  2.0  5.0  ...      NaN      4.1      NaN      4.2    4.5
3  3.0  2.0  1.0  5.0  2.0  ...      3.1      3.2      3.2      NaN    3.1
4  3.0  1.0  1.0  2.0  4.0  ...      NaN      3.2      3.2      NaN    3.4

[5 rows x 21 columns]

In [165]:
expected, observed, stats = pg.chi2_independence(df, x='Q1_Q8',
                                                 y='Q7')
stats.round(3)

/usr/local/lib/python3.6/dist-packages/pingouin/contingency.py:151: UserWarning:

Low count on observed frequencies.

                 test  lambda     chi2   dof   pval  cramer  power
0             pearson   1.000  113.342  96.0  0.109   0.140  0.584
1        cressie-read   0.667  113.855  96.0  0.103   0.140  0.587
2      log-likelihood   0.000  117.089  96.0  0.071   0.142  0.605
3       freeman-tukey  -0.500  121.975  96.0  0.038   0.145  0.631
4  mod-log-likelihood  -1.000  129.806  96.0  0.012   0.150  0.671
5              neyman  -2.000  160.324  96.0  0.000   0.167  0.803

### Test 5: Considering Q8, how the result for Test 2 changes

In [166]:
df['Q8_Q6_1']=df['Q8']+df['Q6_1']*0.1
df['Q8_Q6_2']=df['Q8']+df['Q6_2']*0.1
df['Q8_Q6_3']=df['Q8']+df['Q6_3']*0.1
df['Q8_Q6_4']=df['Q8']+df['Q6_4']*0.1
df['Q8_Q6_5']=df['Q8']+df['Q6_5']*0.1
df['Q8_Q6_6']=df['Q8']+df['Q6_6']*0.1
df.head()

    Q1   Q2   Q3   Q4   Q5  ...  Q8_Q6_2  Q8_Q6_3  Q8_Q6_4  Q8_Q6_5  Q8_Q6_6
0  1.0  2.0  1.0  7.0  3.0  ...      NaN      3.1      3.1      3.1      3.2
1  1.0  1.0  5.0  5.0  1.0  ...      NaN      NaN      2.1      2.2      2.2
2  4.0  1.0  2.0  2.0  5.0  ...      5.2      NaN      5.1      NaN      5.2
3  3.0  2.0  1.0  5.0  2.0  ...      1.2      1.1      1.2      1.2      NaN
4  3.0  1.0  1.0  2.0  4.0  ...      4.2      NaN      4.2      4.2      NaN

[5 rows x 27 columns]

In [167]:
expected, observed, stats = pg.chi2_independence(df, x='Q8_Q6_1',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  45.215  36.0  0.140   0.088  0.342
1        cressie-read   0.667  45.079  36.0  0.143   0.088  0.341
2      log-likelihood   0.000  45.073  36.0  0.143   0.088  0.341
3       freeman-tukey  -0.500  45.303  36.0  0.138   0.089  0.343
4  mod-log-likelihood  -1.000  45.739  36.0  0.128   0.089  0.347
5              neyman  -2.000  47.265  36.0  0.099   0.090  0.360

In [168]:
expected, observed, stats = pg.chi2_independence(df, x='Q8_Q6_2',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  46.131  36.0  0.120   0.089  0.350
1        cressie-read   0.667  45.720  36.0  0.129   0.089  0.347
2      log-likelihood   0.000  45.217  36.0  0.140   0.088  0.342
3       freeman-tukey  -0.500  45.112  36.0  0.142   0.088  0.342
4  mod-log-likelihood  -1.000  45.242  36.0  0.139   0.089  0.343
5              neyman  -2.000  46.231  36.0  0.118   0.089  0.351

In [169]:
expected, observed, stats = pg.chi2_independence(df, x='Q8_Q6_3',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  50.886  36.0  0.051   0.094  0.392
1        cressie-read   0.667  50.993  36.0  0.050   0.094  0.393
2      log-likelihood   0.000  51.614  36.0  0.044   0.095  0.398
3       freeman-tukey  -0.500  52.459  36.0  0.038   0.095  0.406
4  mod-log-likelihood  -1.000  53.662  36.0  0.029   0.096  0.416
5              neyman  -2.000  57.313  36.0  0.013   0.100  0.448

In [170]:
expected, observed, stats = pg.chi2_independence(df, x='Q8_Q6_4',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  59.049  36.0  0.009   0.101  0.463
1        cressie-read   0.667  58.130  36.0  0.011   0.100  0.455
2      log-likelihood   0.000  56.825  36.0  0.015   0.099  0.444
3       freeman-tukey  -0.500  56.289  36.0  0.017   0.099  0.439
4  mod-log-likelihood  -1.000  56.120  36.0  0.017   0.099  0.438
5              neyman  -2.000  56.878  36.0  0.015   0.099  0.444

In [171]:
expected, observed, stats = pg.chi2_independence(df, x='Q8_Q6_5',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  51.008  36.0  0.050   0.094  0.393
1        cressie-read   0.667  50.985  36.0  0.050   0.094  0.393
2      log-likelihood   0.000  51.276  36.0  0.047   0.094  0.395
3       freeman-tukey  -0.500  51.802  36.0  0.043   0.095  0.400
4  mod-log-likelihood  -1.000  52.611  36.0  0.036   0.095  0.407
5              neyman  -2.000  55.172  36.0  0.021   0.098  0.429

In [172]:
expected, observed, stats = pg.chi2_independence(df, x='Q8_Q6_6',
                                                 y='Q7')
stats.round(3)

                 test  lambda    chi2   dof   pval  cramer  power
0             pearson   1.000  33.233  36.0  0.601   0.076  0.243
1        cressie-read   0.667  33.055  36.0  0.609   0.076  0.242
2      log-likelihood   0.000  32.847  36.0  0.619   0.075  0.240
3       freeman-tukey  -0.500  32.819  36.0  0.621   0.075  0.240
4  mod-log-likelihood  -1.000  32.901  36.0  0.617   0.075  0.240
5              neyman  -2.000  33.401  36.0  0.593   0.076  0.244